openapi: 3.2.0
info:
  title: OpenAPI spec for ClickHouse Cloud Organization API
  version: '1.0'
  contact:
    name: ClickHouse Support
    url: https://clickhouse.com/docs/en/cloud/manage/openapi?referrer=openapi-1107336
    email: support@clickhouse.com
servers:
- url: https://api.clickhouse.cloud
security:
- basicAuth: []
tags:
- name: Organization
paths:
  /v1/organizations:
    get:
      summary: Get list of available organizations
      description: Returns a list with a single organization associated with the API key in the request.
      operationId: organizationGetList
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP status code.
                    example: 200
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'
        '400':
          description: The request cannot be processed due to a client error. Please verify your request parameters and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP status code.
                    example: 400
                  error:
                    type: string
                    description: Detailed error description.
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
        '500':
          description: An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code.
                    example: 500
                  error:
                    type: string
                    description: Detailed error description.
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
      tags:
      - Organization
  /v1/organizations/{organizationId}:
    get:
      summary: Get organization details
      description: Returns details of a single organization. In order to get the details, the auth key must belong to the organization.
      operationId: organizationGet
      parameters:
      - in: path
        name: organizationId
        description: ID of the requested organization.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP status code.
                    example: 200
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
                  result:
                    $ref: '#/components/schemas/Organization'
        '400':
          description: The request cannot be processed due to a client error. Please verify your request parameters and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP status code.
                    example: 400
                  error:
                    type: string
                    description: Detailed error description.
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
        '500':
          description: An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code.
                    example: 500
                  error:
                    type: string
                    description: Detailed error description.
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
      tags:
      - Organization
    patch:
      summary: Update organization details
      description: Updates organization fields. Requires ADMIN auth key role.
      operationId: organizationUpdate
      parameters:
      - in: path
        name: organizationId
        description: ID of the organization to update.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationPatchRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP status code.
                    example: 200
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
                  result:
                    $ref: '#/components/schemas/Organization'
        '400':
          description: The request cannot be processed due to a client error. Please verify your request parameters and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP status code.
                    example: 400
                  error:
                    type: string
                    description: Detailed error description.
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
        '500':
          description: An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code.
                    example: 500
                  error:
                    type: string
                    description: Detailed error description.
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
      tags:
      - Organization
  /v1/organizations/{organizationId}/quotas:
    get:
      summary: Get organization quotas
      description: '**Disclaimer:** This beta endpoint is evolving; the API contract may change.


        Returns the resource quotas enforced for the organization together with their current usage where available. Quotas that do not apply to the organization are omitted. Quota values reflect the limits currently enforced, so they can be polled to detect changes, for example after a billing status change. The response contains one entry per quota code; quotas enforced per resource may additionally appear under resource-scoped endpoints in the future.'
      operationId: organizationQuotasGetList
      parameters:
      - in: path
        name: organizationId
        description: ID of the requested organization.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP status code.
                    example: 200
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrganizationQuota'
        '400':
          description: The request cannot be processed due to a client error. Please verify your request parameters and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP status code.
                    example: 400
                  error:
                    type: string
                    description: Detailed error description.
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
        '500':
          description: An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code.
                    example: 500
                  error:
                    type: string
                    description: Detailed error description.
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
      tags:
      - Organization
      x-badges:
      - name: Beta
        position: after
  /v1/organizations/{organizationId}/quotas/{quotaCode}:
    get:
      summary: Get organization quota details
      description: '**Disclaimer:** This beta endpoint is evolving; the API contract may change.


        Returns a single organization quota identified by its quota code. Responds with a not found error when the quota code is unknown or the quota does not apply to the organization.'
      operationId: organizationQuotaGet
      parameters:
      - in: path
        name: organizationId
        description: ID of the requested organization.
        required: true
        schema:
          type: string
          format: uuid
      - in: path
        name: quotaCode
        description: Code of the requested quota.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP status code.
                    example: 200
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
                  result:
                    $ref: '#/components/schemas/OrganizationQuota'
        '400':
          description: The request cannot be processed due to a client error. Please verify your request parameters and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP status code.
                    example: 400
                  error:
                    type: string
                    description: Detailed error description.
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
        '500':
          description: An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code.
                    example: 500
                  error:
                    type: string
                    description: Detailed error description.
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
      tags:
      - Organization
      x-badges:
      - name: Beta
        position: after
  /v1/organizations/{organizationId}/activities:
    get:
      summary: List of organization activities
      description: Returns a list of all organization activities.
      operationId: activityGetList
      parameters:
      - in: path
        name: organizationId
        description: ID of the requested organization.
        required: true
        schema:
          type: string
          format: uuid
      - in: query
        name: from_date
        description: A starting date for a search
        schema:
          type: string
          format: date-time
      - in: query
        name: to_date
        description: An ending date for a search
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP status code.
                    example: 200
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/Activity'
        '400':
          description: The request cannot be processed due to a client error. Please verify your request parameters and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP status code.
                    example: 400
                  error:
                    type: string
                    description: Detailed error description.
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
        '500':
          description: An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code.
                    example: 500
                  error:
                    type: string
                    description: Detailed error description.
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
      tags:
      - Organization
  /v1/organizations/{organizationId}/activities/{activityId}:
    get:
      summary: Organization activity
      description: Returns a single organization activity by ID.
      operationId: activityGet
      parameters:
      - in: path
        name: organizationId
        description: ID of the requested organization.
        required: true
        schema:
          type: string
          format: uuid
      - in: path
        name: activityId
        description: ID of the requested activity.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP status code.
                    example: 200
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
                  result:
                    $ref: '#/components/schemas/Activity'
        '400':
          description: The request cannot be processed due to a client error. Please verify your request parameters and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP status code.
                    example: 400
                  error:
                    type: string
                    description: Detailed error description.
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
        '500':
          description: An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code.
                    example: 500
                  error:
                    type: string
                    description: Detailed error description.
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
      tags:
      - Organization
  /v1/organizations/{organizationId}/privateEndpointConfig:
    get:
      summary: Get private endpoint configuration for region within cloud provider for an…
      description: Deprecated. Please follow documentation for the updated process.
      operationId: organizationPrivateEndpointConfigGetList
      parameters:
      - in: path
        name: organizationId
        description: ID of the requested organization.
        required: true
        schema:
          type: string
          format: uuid
      - in: query
        name: cloud_provider
        description: Cloud provider identifier. One of aws, gcp, or azure.
        schema:
          type: string
        required: true
      - in: query
        name: region_id
        description: Region identifier within specific cloud providers.
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP status code.
                    example: 200
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
                  result:
                    $ref: '#/components/schemas/OrganizationCloudRegionPrivateEndpointConfig'
        '400':
          description: The request cannot be processed due to a client error. Please verify your request parameters and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP status code.
                    example: 400
                  error:
                    type: string
                    description: Detailed error description.
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
        '500':
          description: An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code.
                    example: 500
                  error:
                    type: string
                    description: Detailed error description.
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
      deprecated: true
      tags:
      - Organization
  /v1/organizations/{organizationId}/byocInfrastructure:
    post:
      summary: Create BYOC Infrastructure
      description: Create a new BYOC Infrastructure in the organization. Returns the configuration of the newly created infrastructure
      operationId: organizationByocInfrastructureCreate
      parameters:
      - in: path
        name: organizationId
        description: ID of the requested organization.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ByocInfrastructurePostRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP status code.
                    example: 200
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
                  result:
                    $ref: '#/components/schemas/ByocConfig'
        '400':
          description: The request cannot be processed due to a client error. Please verify your request parameters and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP status code.
                    example: 400
                  error:
                    type: string
                    description: Detailed error description.
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
        '500':
          description: An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code.
                    example: 500
                  error:
                    type: string
                    description: Detailed error description.
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
      tags:
      - Organization
  /v1/organizations/{organizationId}/byocInfrastructure/{byocInfrastructureId}:
    delete:
      summary: Remove a BYOC infrastructure
      description: Removes a BYOC Infrastructure from the organization
      operationId: organizationByocInfrastructureDelete
      parameters:
      - in: path
        name: organizationId
        description: ID of the requested organization.
        required: true
        schema:
          type: string
          format: uuid
      - in: path
        name: byocInfrastructureId
        description: ID of the requested BYOC Infrastructure
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP status code.
                    example: 200
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
        '400':
          description: The request cannot be processed due to a client error. Please verify your request parameters and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP status code.
                    example: 400
                  error:
                    type: string
                    description: Detailed error description.
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
        '500':
          description: An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code.
                    example: 500
                  error:
                    type: string
                    description: Detailed error description.
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
      tags:
      - Organization
    patch:
      summary: Update BYOC Infrastructure
      description: Update configuration of the BYOC infrastructure. Returns the modified infrastructure
      operationId: organizationByocInfrastructureUpdate
      parameters:
      - in: path
        name: organizationId
        description: ID of the requested organization.
        required: true
        schema:
          type: string
          format: uuid
      - in: path
        name: byocInfrastructureId
        description: ID of the requested BYOC Infrastructure
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ByocInfrastructurePatchRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP status code.
                    example: 200
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
                  result:
                    $ref: '#/components/schemas/ByocConfig'
        '400':
          description: The request cannot be processed due to a client error. Please verify your request parameters and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP status code.
                    example: 400
                  error:
                    type: string
                    description: Detailed error description.
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
        '500':
          description: An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code.
                    example: 500
                  error:
                    type: string
                    description: Detailed error description.
                  requestId:
                    type: string
                    description: Unique id assigned to every request. UUIDv4
                    format: uuid
      tags:
      - Organization
components:
  schemas:
    ByocConfig:
      properties:
        id:
          description: Unique identifier of the BYOC configuration
          type: string
        state:
          description: State of the infrastructure
          type: string
          enum:
          - infra-ready
          - infra-provisioning
          - infra-terminated
        accountName:
          description: Name of the account
          type: string
        regionId:
          description: Region for which the BYOC has been configured and where it is possible to create services
          type: string
          enum:
          - ap-northeast-1
          - ap-northeast-2
          - ap-south-1
          - ap-southeast-1
          - ap-southeast-2
          - ca-central-1
          - eu-central-1
          - eu-west-1
          - eu-west-2
          - il-central-1
          - us-east-1
          - us-east-2
          - us-west-2
          - us-east1
          - us-central1
          - europe-west2
          - europe-west4
          - asia-southeast1
          - asia-northeast1
          - eastus
          - eastus2
          - westus3
          - germanywestcentral
          - centralus
        cloudProvider:
          description: Cloud provider of the region
          type: string
          enum:
          - gcp
          - aws
          - azure
        displayName:
          description: Human readable name for infrastructure
          type: string
    OrganizationPatchPrivateEndpoint:
      properties:
        id:
          description: Private endpoint identifier
          type: string
        description:
          description: Optional description of private endpoint
          type: string
        cloudProvider:
          description: Cloud provider in which the private endpoint is lcoated
          type: string
          enum:
          - gcp
          - aws
          - azure
        region:
          description: Region in which the private endpoint is located
          type: string
          enum:
          - ap-northeast-1
          - ap-northeast-2
          - ap-south-1
          - ap-southeast-1
          - ap-southeast-2
          - ca-central-1
          - eu-central-1
          - eu-west-1
          - eu-west-2
          - il-central-1
          - us-east-1
          - us-east-2
          - us-west-2
          - us-east1
          - us-central1
          - europe-west2
          - europe-west4
          - asia-southeast1
          - asia-northeast1
          - eastus
          - eastus2
          - westus3
          - germanywestcentral
          - centralus
    ByocInfrastructurePostRequest:
      properties:
        regionId:
          description: Region in which the BYOC infrastructure will be located
          type: string
          enum:
          - ap-northeast-1
          - ap-northeast-2
          - ap-south-1
          - ap-southeast-1
          - ap-southeast-2
          - ca-central-1
          - eu-central-1
          - eu-west-1
          - eu-west-2
          - il-central-1
          - us-east-1
          - us-east-2
          - us-west-2
          - us-east1
          - us-central1
          - europe-west2
          - europe-west4
          - asia-southeast1
          - asia-northeast1
          - eastus
          - eastus2
          - westus3
          - germanywestcentral
          - centralus
        accountId:
          description: Cloud account ID the BYOC infrastructure is configured for
          type: string
        availabilityZoneSuffixes:
          type: array
          description: List of availability zone suffixes
          items:
            type: string
            enum:
            - a
            - b
            - c
            - d
            - e
            - f
        vpcCidrRange:
          description: CIDR range for VPC
          type: string
        displayName:
          description: Human readable name for infrastructure
          type: string
    ByocInfrastructurePatchRequest:
      properties:
        displayName:
          description: Human readable name for infrastructure object
          type: string
    OrganizationPatchRequest:
      properties:
        name:
          description: Name of the organization.
          type: string
        privateEndpoints:
          $ref: '#/components/schemas/OrganizationPrivateEndpointsPatch'
        enableCoreDumps:
          description: Whether crash reports (core dumps) collection is enabled for services in the organization. When disabled at the organization level, individual services cannot enable crash reports.
          type: boolean
    Organization:
      properties:
        id:
          description: Unique organization ID.
          type: string
          format: uuid
        createdAt:
          description: The timestamp the organization was created. ISO-8601.
          type: string
          format: date-time
        name:
          description: Name of the organization.
          type: string
        privateEndpoints:
          type: array
          description: List of private endpoints for organization
          items:
            $ref: '#/components/schemas/OrganizationPrivateEndpoint'
        byocConfig:
          type: array
          description: BYOC configuration for the organization
          items:
            $ref: '#/components/schemas/ByocConfig'
        enableCoreDumps:
          description: Whether crash reports (core dumps) collection is enabled for services in the organization. When disabled at the organization level, individual services cannot enable crash reports.
          type: boolean
    OrganizationPrivateEndpointsPatch:
      properties:
        add:
          type: array
          description: DEPRECATED. Elements to add. Executed after "remove" part is processed. Please use the `Update Service Basic Details` endpoint with the `privateEndpointIds` field instead to modify the private endpoints.
          items:
            $ref: '#/components/schemas/OrganizationPatchPrivateEndpoint'
          deprecated: true
        remove:
          type: array
          description: Elements to remove. Executed before "add" part is processed.
          items:
            $ref: '#/components/schemas/OrganizationPatchPrivateEndpoint'
    OrganizationPrivateEndpoint:
      properties:
        id:
          description: Private endpoint identifier
          type: string
        description:
          description: Description of private endpoint
          type: string
        cloudProvider:
          description: Cloud provider in which the private endpoint is lcoated
          type: string
          enum:
          - gcp
          - aws
          - azure
        region:
          description: Region in which the private endpoint is located
          type: string
          enum:
          - ap-northeast-1
          - ap-northeast-2
          - ap-south-1
          - ap-southeast-1
          - ap-southeast-2
          - ca-central-1
          - eu-central-1
          - eu-west-1
          - eu-west-2
          - il-central-1
          - us-east-1
          - us-east-2
          - us-west-2
          - us-east1
          - us-central1
          - europe-west2
          - europe-west4
          - asia-southeast1
          - asia-northeast1
          - eastus
          - eastus2
          - westus3
          - germanywestcentral
          - centralus
    OrganizationCloudRegionPrivateEndpointConfig:
      properties:
        endpointServiceId:
          description: Unique identifier of the interface endpoint you created in your VPC with the AWS(Service Name) or GCP(Target Service) resource
          type: string
    OrganizationQuota:
      properties:
        quotaCode:
          description: Stable identifier of the quota. Use it to request a single quota by code.
          type: string
          enum:
          - services-per-organization
          - postgres-services-per-organization
          - replicas-per-warehouse
          - api-keys-per-organization
          example: services-per-organization
        name:
          description: Human-readable name of the quota.
          type: string
          example: Services per organization
        description:
          description: Explanation of the resource the quota limits and how the limit is applied.
          type: string
        scope:
          description: Granularity at which the limit is applied. For example, `replicas-per-warehouse` is an organization-wide setting that limits each warehouse individually.
          type: string
          enum:
          - organization
          - warehouse
          example: organization
        value:
          description: Limit currently applied to the organization, including any adjustments made for the organization. The value can change when the billing status of the organization changes.
          type: integer
          minimum: 0
          example: 20
        usage:
          description: Current consumption of the quota. Omitted for quotas that do not report usage. Usage can exceed `value` when a limit was lowered after resources were created; existing resources are not affected.
          type: integer
          minimum: 0
          example: 3
        adjustable:
          description: Whether the limit can be raised for the organization by contacting ClickHouse support.
          type: boolean
      required:
      - quotaCode
      - name
      - description
      - scope
      - value
      - adjustable
    Activity:
      properties:
        id:
          description: Unique activity ID.
          type: string
        createdAt:
          description: Timestamp of the activity. ISO-8601.
          type: string
          format: date-time
        type:
          description: Type of the activity.
          type: string
          enum:
          - create_organization
          - delete_organization
          - organization_update_name
          - transfer_service_in
          - transfer_service_out
          - save_payment_method
          - marketplace_subscription
          - migrate_marketplace_billing_details_in
          - migrate_marketplace_billing_details_out
          - organization_update_tier
          - organization_invite_create
          - organization_invite_delete
          - organization_member_join
          - organization_member_add
          - organization_member_leave
          - organization_member_delete
          - organization_member_update_role
          - organization_member_update_roles
          - organization_member_update_mfa_method
          - organization_saml_connection_create
          - organization_saml_connection_update
          - user_login
          - user_login_failed
          - user_logout
          - key_create
          - key_delete
          - openapi_key_update
          - service_create
          - service_start
          - service_stop
          - service_awaken
          - service_idle
          - service_running
          - service_partially_running
          - service_delete
          - service_update_name
          - service_update_ip_access_list
          - service_update_autoscaling_memory
          - service_update_autoscaling_idling
          - service_update_password
          - service_update_autoscaling_replicas
          - service_update_max_allowable_replicas
          - service_update_backup_configuration
          - service_restore_backup
          - service_update_release_channel
          - service_update_gpt_usage_consent
          - service_update_private_endpoints
          - service_import_to_organization
          - service_export_from_organization
          - service_maintenance_start
          - service_maintenance_end
          - service_update_core_dump
          - service_update_autoscaling_schedule
          - service_update_query_endpoints
          - service_update_direct_connection
          - service_update_sql_console_jwt_auth
          - service_update_snapshot_configuration
          - service_update_collector_ip_access_list
          - service_update_mysql_interface
          - service_update_upgrade_window
          - service_delete_upgrade_window
          - service_trigger_failover
          - service_trigger_recovery
          - service_mcp_enabled
          - service_mcp_disabled
          - service_upgrade
          - service_scaled_down_for_tier_change
          - service_encryption_key_check_failed
          - service_encryption_key_rotation_failed
          - service_encryption_key_rotated
          - service_stop_encryption_key_inaccessible
          - service_restart_encryption_key_rotation
          - backup_delete
          - backup_bucket_create
          - backup_bucket_update
          - backup_bucket_delete
          - backup_bucket_archive
          - warehouse_update_name
          - warehouse_update_release_channel
          - role_create
          - role_update
          - role_delete
          - role_resources_delete
          - organization_member_remove_roles
          - scim_user_profile_update
          - scim_group_create
          - scim_group_update
          - scim_group_delete
          - organization_saml_connection_delete
          - datadog_integration_create
          - datadog_integration_delete
          - organization_update_spend_alert
          - organization_update_core_dumps
          - organization_update_private_endpoints
          - organization_update_pci_compliance
          - organization_update_hipaa_status
          - transfer_credits_in
          - transfer_credits_out
          - promo_code_claim
          - schema_advisor_seed
          - schema_advisor_generate_plan
          - schema_advisor_approve_plan
          - schema_advisor_start_deployment
          - schema_advisor_start_benchmark
          - schema_advisor_run_benchmark
          - schema_advisor_start_promotion
          - schema_advisor_exchange_tables
          - schema_advisor_drop_sandbox
          - udf_create
          - udf_update
          - udf_delete
          - udf_version_create
          - udf_version_delete
          - udf_attach
          - udf_detach
          - udf_update_services
          - udf_redeploy
          - udf_rebuild
        actorType:
          description: 'Type of the actor: ''user'', ''support'', ''system'', ''api''.'
          type: string
          enum:
          - user
          - support
          - system
          - api
        actorId:
          description: Unique actor ID.
          type: string
        actorDetails:
          description: Additional information about the actor.
          type: string
        actorIpAddress:
          description: IP address of the actor. Defined for 'user' and 'api' actor types.
          type: string
        organizationId:
          description: 'Scope of the activity: organization ID this activity is related to.'
          type: string
        serviceId:
          description: 'Scope of the activity: service ID this activity is related to.'
          type: string
        userAgent:
          description: User agent of the actor
          type: string
        targetKeyId:
          description: 'For ''openapi_key_update'' activities: the ID of the API key that was updated.'
          type: string
        keyUpdateType:
          description: 'For ''openapi_key_update'' activities: the type of update that was performed.'
          type: string
          enum:
          - created
          - deleted
          - name-changed
          - role-changed
          - state-changed
          - date-changed
          - ip-access-list-changed
          - org-role-changed
          - default-service-role-changed
          - service-role-changed
          - roles-v2-changed
        targetRoleIds:
          type: array
          description: 'For role and actor-role activities: IDs of the affected roles.'
          items:
            type: string
        targetRoleNames:
          type: array
          description: 'For role and actor-role activities: names of the affected roles, when recorded.'
          items:
            type: string
        targetActorIds:
          type: array
          description: 'For ''organization_member_update_roles'' and ''organization_member_remove_roles'' activities: IDs of the affected actors (e.g. ''user/<id>'').'
          items:
            type: string
        targetResourceIds:
          type: array
          description: 'For ''role_resources_delete'' activities: IDs of the deleted resources the roles referenced.'
          items:
            type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: 'Use key ID and key secret obtained in ClickHouse Cloud console: https://clickhouse.com/docs/cloud/manage/openapi'
x-tagGroups:
- name: Organization
  tags:
  - Organization
  - Billing
  - User management
  - Role Management
  - UDF
- name: Service
  tags:
  - Service
  - Backup
- name: API keys
  tags:
  - API keys
- name: Prometheus
  tags:
  - Prometheus
- name: ClickPipes
  tags:
  - ClickPipes
- name: ClickStack
  tags:
  - ClickStack
- name: Postgres
  tags:
  - Postgres
